:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #b1daf2 30%,
    #40b883
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -40deg,
    rgba(133, 192, 245, 0.7) 50%,
    rgb(62, 176, 125, 0.9) 50%
  );
  --vp-home-hero-image-filter: blur(60px);
  /* --vp-layout-max-width: 80vw; */
}

.divider {
  display: none !important;
}

/* .container {
  max-width: 1400px !important;
}

.container .content {
  max-width: 1080px !important;
}

.container .content .content-container {
  max-width: 984px !important;
} */

.vp-doc a {
  text-decoration: none !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(62, 175, 124, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  /* width: 3px; */
  width: 0px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #3eaf7c;
  /* border: 2px solid #555555; */
  border: 2px solid #3eaf7c;
}

.content-container {
  max-width: 80vw !important;
}